# Inclusion & Exclusion Criteria — {{project_name}}

## 1. Study Characteristics
**Include**
- [TODO]

**Exclude**
- [TODO]

## 2. Population
**Include**
- [TODO]

**Exclude**
- [TODO]

## 3. Intervention / Exposure
**Include**
- [TODO]

**Exclude**
- [TODO]

## 4. Outcome
**Include**
- [TODO]

**Exclude**
- [TODO]

## Decision rules for borderline cases
- [TODO]
